<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-md-ofsset-3">
      <form class="col-sm-12" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Email:</label>
          <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            formControlName="email">
        </div>

        <div class="form-group">
        <label for="">Wachtwoord:</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          formControlName="password"><br>
        </div>

        <div class="form-group">
          <label for="">Herhaal wachtwoord:</label>
          <input
            class="form-control"
            type="password"
            id="Repeatedpassword"
            name="Repeatedpassword"
            formControlName="Repeatedpassword"><br>
        </div>

        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!registerForm.valid">Registreer</button>
        <p *ngIf="correctPassword === false">wachtwoorden komen niet overeen</p>
      </form>
    </div>

  </div>
</div>
