<header class="background-color">
  <h1>Over Ons</h1>
  <hr>
</header>

<main>
  <article>

    <h3>l' apple</h3>
    <p>l' apple is de grootste Apple Premium Reseller met 50 winkels verspreid over Nederland. Met een compleet aanbod aan
      Apple-producten en een uitgebreid assortiment aan accessoires voor de Mac, iPad, iPhone, Apple Watch en AirPods is
      dit dé plek voor al je Apple-aankopen en cadeaus. Het l' apple team beschikt over alle kennis om je vragen te
      beantwoorden en adviseert je graag persoonlijk over de keuze en aanschaf van een Mac, iPad, iPhone of ander
      Apple-product.
    </p>
  </article>
</main>
