<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-md-ofsset-3">
      <form class="col-sm-12" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Onderwerp</label>
          <input
            class="form-control"
            type="text"
            id="text"
            name="text"
            formControlName="subject">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Uw vraag</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            formControlName="subjectText"></textarea>
        </div>

        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!contactForm.valid">Verzend</button>
      </form>
    </div>

  </div>
</div>
