<div class="container">
  <div class="row">
    <form class="col-sm-12" [formGroup]="productAddForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="">Product naam</label>
        <input
        class="form-control"
        type="text"
        id="name"
        name="name"
        formControlName="name">
      </div>

      <div class="form-group">
        <label for="">Beschrijving</label>
        <input
        class="form-control"
        type="text"
        id="description"
        name="description"
        formControlName="description">
      </div>

      <div class="form-group">
        <label for="">Prijs</label>
        <input
        class="form-control"
        type="number"
        name="price"
        id="price"
        formControlName="price">
      </div>

      <div class="form-group">
        <label for="">Aantal</label>
        <input
        class="form-control"
        type="number"
        name="amount"
        id="amount"
        formControlName="amount">
      </div>

      <div class="form-group">
        <label for="">Afbeelding URL</label>
        <input
        class="form-control"
        type="text"
        name="imageLink"
        id="imageLink"
        formControlName="imageLink">
      </div>
      <p *ngIf="!imageLinkLength">Afbeelding URL mag maar 255 karakters beschikken.</p>

      <button
      class="btn btn-success"
      type="submit"
      [disabled]="!productAddForm.valid">Toevoegen</button>

    </form>
  </div>
</div>
